<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013892999740-l6jqtjf7eeopjq0aa965blrq4sdq43di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013892999740-l6jqtjf7eeopjq0aa965blrq4sdq43di</string>
	<key>API_KEY</key>
	<string>AIzaSyC1OzpuT-kSeZPDePvrohL_11h1r0Uz0E4</string>
	<key>GCM_SENDER_ID</key>
	<string>1013892999740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirtidhwaj.EnglishJi</string>
	<key>PROJECT_ID</key>
	<string>okayenglish-29620</string>
	<key>STORAGE_BUCKET</key>
	<string>okayenglish-29620.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013892999740:ios:360bff08e7e8a7eac4b139</string>
</dict>
</plist>